* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    margin: 47px 0  127px 42px;
}
section {
    display: inline-block;
    margin-left: 97px;
}

.logo-image {
    width: 533.834px;
    height: 466.9px;
    margin-left: 121px;
    display: inline-block;    
}
.link-header {
    width: 83px;
    color: #17233D;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    margin-right: 40px;
}
.button-header {
    width: 124px;
    height: 51px;
    border-radius: 6px;
    background: #6FBF44;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #FFF;
    cursor: pointer;
}
h1 {
    width: 582px;
    color: #161A49;
    font-size: 62px;
    font-weight: 700;
    flex-shrink: 1px;
}
p {
    color: #4B505A;
    font-weight: 400;
    line-height: 33px;
    font-size: 18px;
    width: 493px;
    margin-top: 47px;
    margin-bottom: 55px;
}
.button-main {
    color: #59e60d;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer; 
    border: none; 
}
